<mat-drawer-container class="nav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <div>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="dashboard" class="title">{{ title }}</span>
      <a
        *ngIf="authService.isLoggedIn$ | async"
        mat-flat-button
        color="primary"
        (click)="initOrders()"
        ><mat-icon>cached</mat-icon></a
      >
      <a
        *ngIf="authService.isLoggedIn$ | async"
        mat-flat-button
        color="primary"
        matBadge="{{ pendingOrders.length }}"
        matBadgePosition="after"
        matBadgeColor="accent"
      >
        Pending Orders
      </a>
      <a
        *ngIf="authService.isLoggedIn$ | async"
        mat-flat-button
        color="primary"
        matBadge="{{ allOpenOrders.length }}"
        matBadgePosition="after"
        matBadgeColor="accent"
      >
        All Open Orders
      </a>
      <a
        *ngIf="authService.isLoggedIn$ | async"
        mat-flat-button
        color="primary"
        matBadge="{{ agentOpenOrders.length }}"
        matBadgePosition="after"
        matBadgeColor="accent"
      >
        Agent Open orders
      </a>
      <span class="spacer"></span>
      <a
        *ngIf="!(authService.isLoggedIn$ | async)"
        mat-flat-button
        color="primary"
        routerLink="/login"
        >Login</a
      >
      <a
        *ngIf="authService.isLoggedIn$ | async"
        mat-flat-button
        color="primary"
        (click)="authService.logout()"
        >Logout</a
      >
    </mat-toolbar>
    <app-loader *ngIf="loaderService.isLoading"></app-loader>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
