<mat-card>
  <mat-card-title>Dashboard - Control Panel</mat-card-title>

  <div class="demo-section">
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="after"
      matBadgeColor="accent"
    >
      Pending Orders
    </button>
  </div>

  <div class="demo-section">
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="after"
      matBadgeColor="accent"
    >
      Open Orders
    </button>
  </div>
  <div class="demo-section">
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="after"
      matBadgeColor="accent"
    >
      Closed Orders
    </button>
  </div>
</mat-card>
